<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet"
      href="static/css/getit.css">
<meta charset="UTF-8">
<title>Get-it</title>
</head>
<!-- DOCTYPE, HTML, HEAD DEVEM CONTINUAR AQUI -->
<body>
  <img src="{{{{ url_for('static', filename='img/logo-getit.png') }}}}">
  <p>Como o Post-it, mas com outro verbo</p>

  <form action="/update" method="POST">
    <input type="hidden" name="id" value="{id}"/>
    <label for="titulo">Título</label>
    <input id="titulo" type="text" name="titulo" value="{title}"/>
    <label for="detalhes">Detalhes</label>
    <input id="detalhes" name="detalhes" value="{details}" />
    <input type="submit" value="Salvar"/>
    <a href="/">Cancelar</a>
  </form>
  <!-- O RESTO DO HTML A PARTIR DAQUI -->

<script src="{{{{ url_for('static', filename='js/getit.js') }}}}"></script>
</body>
</html>
