<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{{{ url_for('static', filename='css/getit.css') }}}}">
  <meta charset="UTF-8">
  <title>Editar anotação</title>
</head>
<body>
  <img src="{{{{ url_for('static', filename='img/logo-getit.png') }}}}">
  <p>Como o Post-it, mas com outro verbo</p>

  <form action="/update" method="POST">
    <input type="hidden" name="id" value="{id}">

    <label for="titulo">Título</label>
    <input id="titulo" type="text" name="titulo" value="{title}">

    <label for="detalhes">Detalhes</label>
    <input id="detalhes" name="detalhes" value="{details}">

    <button type="submit">Salvar</button>
    <a href="/" name="edit_cancel">Cancelar</a>
  </form>
</body>
</html>
